body{
    background-image: url(../img/GettyImages-1314656208.webp);
    background-size: cover;
    background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%; 
        margin: 0 auto;
        color: #4a4e69;
}

.navegacao{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}
.navegacao a{
    float:right; 
    color: rgb(173,173,173); 
    text-decoration: none;
    padding:10px;
}
.navegacao a:hover{ 
    color:white;
    background-color: black; 
}
a{
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.h1{
    font-family: "Beaufort for LOL";
    font-style: italic, serif;
    font-weight: bold;
    font-size: 80px;
    color: #9a8c98;
}

@media screen and (max-width:600px){ /*alteração no conteúdo conforme muda a tela*/
    .principal, .conteudo{
        width:100%; 
        flex-direction: column;
        padding: 0px;
    }
}
