body{
    background-image: url(/img/GettyImages-1314656208.webp);
    background-size: cover;
    background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%; 
        margin: 0 auto;
        color: #4a4e69;
}

.navegacao{
    overflow: hidden;
    padding-top: 100px;
}
.navegacao a{
    float:right; 
    color: rgb(173,173,173); 
    text-decoration: none;
    padding:10px;
}
.navegacao a:hover{ 
    color:white;
    background-color: black; 
}
a{
   color: white;
    text-decoration: none;
}
