body{
    background-image: url(/img/GettyImages-1314656208.webp);
    background-size: cover;
    background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%; 
        margin: 0 auto;
        color: #4a4e69;
}

a{
    color:white;
}
