body{
    background: rgba(0, 0, 0, 0.7) url(/img/GettyImages-1314656208.webp);
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: Arial, Helvetica, sans-serif;
        width: 90%; 
        margin: 0 auto;
}


.navegacao{
    overflow: hidden;
    padding-top: 100px;
    background-color: ;
}
.navegacao a{
    float:right; 
    color: rgb(173,173,173); 
    text-decoration: none;
    padding:10px;
}
.navegacao a:hover{ 
    color:white;
    background-color: black; 
}
  h1{
    font-family: "Beaufort for LOL";
    font-style: italic, serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: #9a8c98;
  }
  p{
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: rgb(173,173,173); 
    text-align: center;
  }

