html{
    scroll-behavior: smooth;
}
body {
    margin: 0 auto; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
#perfil{
    background-color: #f0e6ef;
    height: 100vh;
    display: flex;

  }

.conteudo{
    background-color: #f0e6ef;
    padding: 210px 300px 210px 300px;


}


#img{ 

    background-position: center;
    background-size: cover;
}
#img > img{
    width: 60px;
    animation: jumping 1s linear infinite;
    cursor: pointer;
    border: none; 
    display: flex; 
    bottom: 0px;
    margin: auto;
}


@keyframes jumping {
    from {transform: translateY(-15px)};
    50% {transform: translateY(0)};
    to {transform: translateY(-15px)};
    }

header{
    background: rgba(0, 0, 0, 0.7) url(/img/GettyImages-1314656208.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    height: 100vh;
}
.navegacao{
    overflow: hidden;
    padding-top: 100px;
}
.navegacao a{
    float:right; 
    color: rgb(173,173,173); 
    text-decoration: none;
    padding:10px;
}
.navegacao a:hover{ 
    color:white;
    background-color: black; 
}
 
  h1{
    font-family: "Beaufort for LOL";
    font-style: italic, serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: #9a8c98;
  }
  p{
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: rgb(173,173,173); 
    text-align: center;
  }
  h2{
    text-align: center;
    font-family: "Beaufort for LOL";
    font-style: italic, serif;
    font-weight: bold;
    text-align: center;
    color: #9a8c98;
}
#c{
    color: #4a4e69;
    text-align: justify;

}
.foto{
    padding: 20px;
    float: right;

}
  footer{
    text-align: center;
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    justify-content: center;
    color: rgb(173,173,173);
    display: flex;
    background-color: #1d2d44;
    padding: 50px;
  }


  @media screen and (max-width:600px){ /*alteração no conteúdo conforme muda a tela*/
    .principal, .conteudo{
        width:100%; 
        flex-direction: column;
        padding: 0px;
    }
}




